#*
 * Copyright 2005 Liusoft
 *
 * $Id: VM_wml_library.vm,v 1.5 2006/04/27 03:26:06 liudong Exp $
 *#

#macro(wml_error_msg)
#if($messages.exist())
	<b>$!messages.getAll()</b><br/>
#end
#end

#macro(back)
<anchor>&lt;$text.wml("back_to_prev_page")<prev/></anchor>
#end