#invoke("_diary_nav_bar.vm")
#if($g_user)
<a href="$dlog.root()/wml/diary/write.vm?sid=$g_site_id">$text.wml("new_diary")</a>
#else
#set($url = "/wml/diary/write.vm?sid=$g_site_id")
<a href="$dlog.root()/wml/login.vm?sid=$g_site_id&amp;fromPage=$link.encodeURL($url)">$text.wml("new_diary")</a>
#end
#set($g_draft_count = $DIARY_tool.draft_count($g_site, $g_user))
#set($g_trash_count = $DIARY_tool.trash_count($g_site, $g_user))
#if($g_draft_count>=0)
<a href="$dlog.root()/wml/diary/drafts.vm?sid=$g_site_id">$text.ui("label.diary.draft")($g_draft_count)</a>#end
#if($g_trash_count>=0)
<a href="$dlog.root()/wml/diary/trash.vm?sid=$g_site_id">$text.ui("label.diary.trash")($g_trash_count)</a>#end
#if($dlog.is_owner($g_site,$g_user))
<a href="$dlog.root()/wml/diary/catalogs.vm?sid=$g_site_id">分类管理</a>#end
<br/>----------<br/>