##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  drafts
##
###############################################################################
#parse("/wml/_sub/_global.vm")
#set($PAGE_SIZE = 10)
#set($p_page = $dlog.param("p", 1))
#set($page_title=$text.ui("label.diary.draft"))
#set($pre_page = $p_page - 1)
#set($next_page = $p_page + 1)
#set($log_count = $DIARY_tool.draft_count($g_site, $g_user))
#set($page_count = $dlog.page_count($log_count, $PAGE_SIZE))
<p>
	#invoke("_diary_nav_bar.vm")
    草稿箱共有${log_count}篇<a href="$dlog.root()/wml/diary/?sid=$g_site_id">日记</a>.<br/>
#if($page_count > 1)
	第${p_page}页,共${page_count}页,每页${PAGE_SIZE}条.<br/>
	#if($p_page>1)
		<a href="$dlog.root()/wml/diary/drafts.vm?sid=$g_site_id">首页</a>
		<a href="$dlog.root()/wml/diary/drafts.vm?sid=$g_site_id&amp;p=$pre_page">上页</a>
	#end
	#if($p_page < $page_count)
		<a href="$dlog.root()/wml/diary/drafts.vm?sid=$g_site_id&amp;p=$next_page">下页</a>
		<a href="$dlog.root()/wml/diary/drafts.vm?sid=$g_site_id&amp;p=$page_count">尾页</a>
	#end
	<br/>
#end
#set($logs = $DIARY_tool.list_drafts($g_site, $g_user, $p_page, $PAGE_SIZE ))
#foreach($log in $logs)
	${velocityCount}.<a href="$dlog.root()/wml/diary/show.vm?sid=$g_site_id&amp;log_id=${log.id}">$text.html(${log.title})</a>
	(<a href="$dlog.root()/wml/diary/edit.vm?sid=$g_site_id&amp;log_id=${log.id}">编辑</a>/<a href="$link.setAction("wml/diary")?sid=$g_site_id&amp;id=${log.id}&amp;eventSubmit_PublishDraftDirectly">发布</a>/<anchor>删除<go href="#bottom"><setvar name="draft_id" value="${log.id}"/></go></anchor>)<br/>
#end
#if($page_count > 1)
	#if($p_page>1)
		<a href="$dlog.root()/wml/diary/drafts.vm?sid=$g_site_id">首页</a>
		<a href="$dlog.root()/wml/diary/drafts.vm?sid=$g_site_id&amp;p=$pre_page">上页</a>
	#end
	#if($p_page < $page_count)
		<a href="$dlog.root()/wml/diary/drafts.vm?sid=$g_site_id&amp;p=$next_page">下页</a>
		<a href="$dlog.root()/wml/diary/drafts.vm?sid=$g_site_id&amp;p=$page_count">尾页</a>
	#end
	<br/>
#end
</p>
#set($page_title_bottom="删除草稿")
#set($screen_extend_template = $dlog.absolute_path("_del_draft_confirm.vm"))