##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  modify user's portrait
##
###############################################################################
#parse("/wml/_sub/_xhtml_global.vm")
#set($page_title="更改头像")
<div>
#if($dlog.not_empty(${g_user.portrait}))
	你现在的头像是:<br/>
	<img src="$dlog.root()/uploads/portrait/${g_user.portrait}" alt=""/>
#end
</div>
<div>
	<form action="$link.setAction("wml/user")" method="post" enctype="multipart/form-data">
	<input type="hidden" name="fromPage" value="modify_portrait.vm"/>
	<input type="hidden" name="sid" value="$g_site_id"/>
	<input type="hidden" name="id" value="$g_user_id"/>
	<input type="hidden" name="__ClientId" value="$dlog.gen_client_id()"/>
	请输入你的密码:<input type="text" name="password" size="15"/><br/>
	请选择新的头像(如果你不想要头像请选中底下的‘清除图象’):<input type="file" name="portrait"/><br/>
	<input type="checkbox" name="removePortrait" value="1"/> 清除头像<br/>
    <input type="submit" name="eventSubmit_UpdatePortrait" value="现在更新"/>
	</form>
</div>