
<!-- 字符过滤 -->
<filter>
	<filter-name>EncodingAndCacheflush</filter-name>
	<filter-class>EncodingAndCacheflush</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>EncodingAndCacheflush</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
<!-- 判断页面的访问权限 -->
<filter>
	<filter-name>RightFilter</filter-name>
	<filter-class>cn.itkui.filter.RightFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>RightFilter</filter-name>
	<url-pattern>/admin/*</url-pattern>
</filter-mapping>
<filter-mapping>
	<filter-name>RightFilter</filter-name>
	<url-pattern>/manage/*</url-pattern>
</filter-mapping>