<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<context-param>
		<param-name>commentNotificationEmails</param-name>
		<param-value></param-value><!-- 有网友发表新评论后将通知邮件发给此邮箱多个邮箱用英文逗号隔开 -->
	</context-param>
	
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>com.terry.weddingphoto.servlet.PhotoViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>photoManager</servlet-name>
		<servlet-class>com.terry.weddingphoto.servlet.PhotoManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>photoManager</servlet-name>
		<url-pattern>/photoManager</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>photoUpload</servlet-name>
		<servlet-class>com.terry.weddingphoto.servlet.PhotoUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>photoUpload</servlet-name>
		<url-pattern>/photoUpload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>photoCheck</servlet-name>
		<servlet-class>com.terry.weddingphoto.servlet.PhotoCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>photoCheck</servlet-name>
		<url-pattern>/photoCheck</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>com.terry.weddingphoto.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<listener>
		<listener-class>com.terry.weddingphoto.listener.InitListener</listener-class>
	</listener>
	
</web-app>
