##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  guestbook
##
###############################################################################
#invoke("_sub/_global.vm")
#set($page_title="¡Ù—‘≤æ")
#set($MSGS_PER_PAGE = 5)
#set($p_page = $dlog.param("page",1))
#set($pre_page = $p_page - 1)
#set($next_page = $p_page + 1)
#set($msg_count = $dlog.get_guest_msg_count($g_site))
#set($page_count = $dlog.page_count($msg_count, $MSGS_PER_PAGE))
#set($msgs = $dlog.list_guest_msgs($g_site, $p_page, $MSGS_PER_PAGE))
#set($is_owner = $dlog.is_owner($g_site, $g_user))
<p>
	#invoke("_sub/_nav_bar.vm")&gt;¡Ù—‘≤æ<br/>
    #if($g_user)
		<a href="guestbook_pub.vm?sid=$g_site_id">Œ““™¡Ù—‘</a><br/>
	#else	
	#set($url = "/wml/guestbook_pub.vm?sid=${g_site_id}")
	<a href="$dlog.root()/wml/login.vm?sid=$g_site_id&amp;fromPage=$link.encodeURL($url)">Œ““™¡Ù—‘</a><br/>
    #end
    #foreach($msg in $msgs)
        ($date.format("MM-dd HH:mm",$msg.createTime))
        <a href="viewuser.vm?sid=$g_site_id&amp;uid=${msg.user.id}">$text.html(${msg.user.nickname})</a>: 
        $text.html($dlog.plain_text($msg.content)) 
		#if(!$dlog.is_empty($msg.reply))
			<br/>’æ≥§¥∏¥($date.format("yyyy/MM/dd HH:mm",$msg.replyTime))£∫<br />${msg.reply}<br/>
		#elseif($is_owner)
            <a href="guestbook_rpl.vm?sid=$g_site_id&amp;msgid=${msg.id}&amp;page=$p_page">¥∏¥</a>
		#end
        #if($is_owner)
            <a href="$link.setAction("wml/guestbook")?sid=${g_site_id}&amp;page=${p_page}&amp;eventSubmit_Delete=${msg.id}">…æ≥˝</a>
        #end
        <br/>
    #end
    #if($p_page > 1)<a href="$dlog.root()/wml/guestbook.vm?sid=${g_site_id}"> ◊“≥</a>#end
    #if($p_page>1)<a href="$dlog.root()/wml/guestbook.vm?sid=${g_site_id}&amp;page=$pre_page">…œ“≥</a>#end
    #if($p_page < $page_count)<a href="$dlog.root()/wml/guestbook.vm?sid=${g_site_id}&amp;page=$next_page">œ¬“≥</a>#end
    #if($p_page < $page_count)<a href="$dlog.root()/wml/guestbook.vm?sid=${g_site_id}&amp;page=$page_count">Œ≤“≥</a>#end
</p>