##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  message view
##
###############################################################################
#invoke("_sub/_global.vm")
#set($page_title="我的短消息")
#set($MSG_COUNT_PER_PAGE = 1)
<p>
	#invoke("_sub/_nav_bar.vm")&gt;短消息<br/>
#if($g_user)
	#set($msg_count = $USER_tool.msg_count($g_user))
	#if($msg_count > 0)
		#set($p_page = $dlog.param("p", 1))
		#set($pre_page = $p_page - 1)
		#set($next_page = $p_page + 1)
		#set($page_count = $dlog.page_count($msg_count, $MSG_COUNT_PER_PAGE))
		#if($p_page > $page_count)#set($p_page = $page_count)#end
		您有短消息${msg_count}条,页次: ${p_page}/${page_count}<br/>
		#if($page_count > 1)
        	#if($p_page>1)
        		<a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id">首页</a><a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id&amp;p=$pre_page">上页</a>
        	#end
        	#if($p_page < $page_count)
        		<a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id&amp;p=$next_page">下页</a><a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id&amp;p=$page_count">尾页</a>
        	#end
        	<br/>
		#end
		#set($msgs = $USER_tool.msgs($g_user, $p_page, $MSG_COUNT_PER_PAGE))
		#foreach($msg in $msgs)
			发件人:<a href="viewuser.vm?sid=$g_site_id&amp;uid=${msg.fromUser.id}">$text.html(${msg.fromUser.nickname})</a><br/>
			时间:$date.format("yyyy/MM/dd HH:mm", ${msg.sendTime})#if(${msg.status}==0)[新]#end<br/>
			<a href="sendmsg.vm?sid=$g_site_id&amp;uid=${msg.fromUser.id}&amp;r=$math.random(1,1000)">回复</a>
			<a href="$link.setAction("wml/message")?sid=$g_site_id&amp;eventSubmit_Delete=${msg.id}&amp;p=$p_page">删除此条留言</a><br/>
			内容:$text.friendly_text(${msg.content})<br/>
			----------<br/>
			#if(${msg.status}==0)$USER_tool.read_msg($msg))#end
		#end		
		#if($page_count > 1)
        	#if($p_page>1)
        		<a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id">首页</a><a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id&amp;p=$pre_page">上页</a>
        	#end
        	#if($p_page < $page_count)
        		<a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id&amp;p=$next_page">下页</a><a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id&amp;p=$page_count">尾页</a>
        	#end
        	<br/>
		#end
	#else
		您没有短消息。
	#end
#else
	用户尚未登录,点击<a href='$dlog.root()/wml/login.vm?sid=$g_site_id&amp;fromPage=$link.encodeURL($dlog.get_request_url())'>这里</a>登录。
#end
</p>