##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  show origional content of rss item
##
###############################################################################
#parse("/wml/_sub/_xhtml_global.vm")
#set($linkid=$dlog.param("linkid",-1))
#set($linkbean = $dlog.get_link($linkid))
#set($page_title="RSSVIEW")

#if($linkbean)
    #set($channel = $dlog.fetch_channel(${linkbean.type}, ${linkbean.url}))
    #if($channel)
		<div id="rssitem">
        <a href="rssview.vm?sid=$g_site_id&amp;linkid=$linkid">$text.html(${linkbean.title})</a>共有$dlog.sizeof(${channel.items})篇文章。
		</div>
		#set($itemURL = $request.getParameter("itemURL"))
		#foreach($item in $channel.items)
			#if(${item.link} == $itemURL)
				<div id="rss_item_title">
				标题: ${item.title}(<a href="$dlog.replace(${item.link},"&","&amp;")">原文</a>)
				</div>
				<div id="rss_item_description">
				${item.description}
				</div>
			#end
		#end
    #else
        <div id="rss_error">频道抓取失败，请检查是否填错频道的类型或者是写错URL地址。</div>
    #end
#else
	<div id="rss_error">编号为#${linkid}的链接没找到。</div>
#end