##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  send short message
##
###############################################################################
#invoke("_sub/_global.vm")
#set($page_title="发送短消息")
#set($user_id = $dlog.param("uid",-1))
#set($user = $USER_tool.user($user_id))
<p>
	#parse("/wml/_sub/_nav_bar.vm")&gt;<a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id">短消息</a><br/>
	请输入要发送给<a href="$dlog.root()/wml/viewuser.vm?sid=$g_site_id&amp;uid=${user.id}">$text.html(${user.nickname})</a>的短消息内容：<br/>                                        
	#if($messages.exist())<b>$!messages.getAll()</b>#end
	<input type="text" name="content" value=""/><br/>		
    <anchor>现在发送
        <go href="$link.setAction("wml/message")" method="post">
            <postfield name="sid" value="$g_site_id"/>
            <postfield name="uid" value="$user_id"/>
            <postfield name="receiverId" value="$user_id"/>
            <postfield name="content" value="$(content)"/>
            <postfield name="__ClientId" value="$dlog.gen_client_id()"/>
            <postfield name="eventSubmit_SendMsg" value="WML"/>
        </go>
    </anchor>
</p>