##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  diary
##
###############################################################################
#parse("/wml/_sub/_global.vm")
#set($page_title="$text.bbs($g_site)")
<p>
	<b>请选择讨论区</b><br/>
#foreach($forum in $BBS_tool.forums($request, $g_site, $g_user))
	${velocityCount}.<a href="forum.vm?sid=$g_site_id&amp;fid=${forum.id}">$text.html(${forum.name})</a>
	(话题:${forum.topicCount}#if($forum.lastPostTime),最新发表: $date.format("MM-dd HH:mm",${forum.lastPostTime}) by <a href="topic.vm?sid=$g_site_id&amp;fid=${forum.id}&amp;tid=${forum.lastTopic.id}">$text.html(${forum.lastUsername})</a>#end)<br/>
#end
</p>