.x-uf-input-ct{
    position:relative;
    font-size:12px;
    
}
.x-form-file {
    position:absolute;
    width:0px !important;
    font-size:15px;
    left:-3px;
    filter:Alpha(opacity=0);
    cursor:hand;
    top:0px;
    HEIGHT: 22px; moz-opacity: 0; opacity: 0
}

.x-uf-input-file-add{
	background-image:url(../images/file-add.gif) !important;	
}
.x-uf-input-file-delete{
    background-image:url(../images/file-remove.gif) !important;
    border:0 none;height:18px;margin:0;padding:0;vertical-align:top;width:16px;background-position:center;background-repeat:no-repeat;
}
.x-uf-table{
    /*background-color: #96B6F1;*/
}
.x-uf-bbtn-ct{
	width: 350px;
}
.x-uf-input-information{
    float:right;
    width: 260px;
    padding-top:5px;
    COLOR: #666;
    height: 22px;
}

/*上传文件类型的小图标*/
.x-uf-file-icon {
    background-repeat:no-repeat;width: 18px; height: 18px;vertical-align: middle;
}
.x-uf-3gp-small {
    background-image: url( ../images/files/3gp.gif) !important; 
}
.x-uf-avi-small {
    background-image: url( ../images/files/avi.gif) !important;
}
.x-uf-bmp-small {
    background-image: url( ../images/files/bmp.gif) !important;
}
.x-uf-chm-small {
    background-image: url( ../images/files/chm.gif) !important;
}
.x-uf-dll-small {
    background-image: url( ../images/files/dll.gif) !important;
}
.x-uf-doc-small {
    background-image: url( ../images/files/doc.gif) !important;
}
.x-uf-docx-small {
    background-image: url( ../images/files/docx.gif) !important;
}
.x-uf-dwf-small {
    background-image: url( ../images/files/dwf.gif) !important;
}
.x-uf-exe-small {
    background-image: url( ../images/files/exe.gif) !important;
}
.x-uf-flv-small {
    background-image: url( ../images/files/flv.gif) !important;
}
.x-uf-gif-small {
    background-image: url( ../images/files/gif.gif) !important;
}
.x-uf-htm-small {
    background-image: url( ../images/files/htm.gif) !important;
}
.x-uf-ico-small {
    background-image: url( ../images/files/gif.gif) !important;
}
.x-uf-jpg-small {
    background-image: url( ../images/files/jpg.gif) !important;
}
.x-uf-mdb-small {
    background-image: url( ../images/files/mdb.gif) !important;
}
.x-uf-mov-small {
    background-image: url( ../images/files/mov.gif) !important;
}
.x-uf-mp3-small {
    background-image: url( ../images/files/mp3.gif) !important;
}
.x-uf-mp4-small {
    background-image: url( ../images/files/mp4.gif) !important;
}
.x-uf-mpg-small {
    background-image: url( ../images/files/mpg.gif) !important;
}
.x-uf-pdf-small {
    background-image: url( ../images/files/pdf.gif) !important;
}
.x-uf-pps-small {
    background-image: url( ../images/files/pps.gif) !important;
}
.x-uf-ppt-small {
    background-image: url( ../images/files/ppt.gif) !important;
}
.x-uf-pptx-small {
    background-image: url( ../images/files/pptx.gif) !important;
}
.x-uf-rar-small {
    background-image: url( ../images/files/rar.gif) !important;
}
.x-uf-rtf-small {
    background-image: url( ../images/files/rtf.gif) !important;
}
.x-uf-swf-small {
    background-image: url( ../images/files/swf.gif) !important;
}
.x-uf-txt-small {
    background-image: url( ../images/files/txt.gif) !important;
}
.x-uf-unknown-small {
    background-image: url( ../images/files/unknown.gif) !important;
}
.x-uf-wav-small {
    background-image: url( ../images/files/wav.gif) !important;
}
.x-uf-wma-small {
    background-image: url( ../images/files/wma.gif) !important;
}
.x-uf-wmv-small {
    background-image: url( ../images/files/wmv.gif) !important;
}
.x-uf-xls-small {
    background-image: url( ../images/files/xls.gif) !important;
}
.x-uf-xlsx-small {
    background-image: url( ../images/files/xlsx.gif) !important;
}
.x-uf-xml-small {
    background-image: url( ../images/files/xml.gif) !important;
}
.x-uf-zip-small {
    background-image: url( ../images/files/zip.gif) !important;
}