##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  enter a reply
##
###############################################################################
#parse("/wml/_sub/_global.vm")
#set($close_search_robots = true)
#set($page_title="我要评论")
#set($topic_id = $dlog.param("tid", -1))
#set($topic = $BBS_tool.topic($g_site, $g_user, $topic_id))
<p>
#if(!$g_user)
	#set($url = "/wml/bbs/reply.vm?sid=$g_site_id&tid=$topic_id")	
	请先登录后再评论,点击<a href="$dlog.root()/wml/login.vm?sid=$g_site_id&amp;fromPage=$link.encodeURL($url)">此处登录</a>.
#elseif($topic)
    #wml_error_msg()
	话题:<a href="topic.vm?sid=$g_site_id&amp;fid=${topic.forum.id}&amp;tid=${topic.id}">$text.html(${topic.title})</a><br/>
	回复内容:<input type="text" name="content" value=""/><br/>
	<anchor>提交评论
        <go href="$link.setAction("wml/bbs/reply")" method="post">
            <postfield name="sid" value="$g_site_id"/>
            <postfield name="tid" value="$topic_id"/>
            <postfield name="fid" value="${topic.forum.id}"/>
            <postfield name="clientType" value="0"/>
            <postfield name="title" value="Re: $text.html($topic.title)"/>
            <postfield name="content" value="$(content)"/>
            <postfield name="__ClientId" value="$dlog.gen_client_id()"/>
            <postfield name="eventSubmit_PublishReply" value="WML"/>
        </go>
    </anchor>
#else
	编号为#${topic_id}的讨论话题不存在！
#end
</p>