##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  show all tags (wml)
##
###############################################################################
#invoke("_sub/_global.vm")
#set($PAGE_SIZE = 20)
#set($page_title="所有标签")
#set($p_page = $dlog.param("p", 1))
#set($pre_page = $p_page - 1)
#set($next_page = $p_page + 1)
#set($tag_count = $TAG_tool.tag_count($g_site))
#set($page_count = $dlog.page_count($tag_count, $PAGE_SIZE))
<p>
	#invoke("_tag_bar.vm")
    共有${tag_count}个标签,每页${PAGE_SIZE}条,第${p_page}页,共${page_count}页.<br/>
#if($page_count > 1)
	#if($p_page>1)
		<a href="$dlog.root()/wml/list_tags.vm?sid=$g_site_id">首页</a>
		<a href="$dlog.root()/wml/list_tags.vm?sid=$g_site_id&amp;p=$pre_page">上页</a>
	#end
	#if($p_page < $page_count)
		<a href="$dlog.root()/wml/list_tags.vm?sid=$g_site_id&amp;p=$next_page">下页</a>
		<a href="$dlog.root()/wml/list_tags.vm?sid=$g_site_id&amp;p=$page_count">尾页</a>
	#end
	<br/>
#end
</p>
<p>
	#set($tags = $TAG_tool.list_tags($g_site, $p_page, $PAGE_SIZE))
	#foreach($tag in $tags)		
		<a href="$dlog.root()/wml/showtag.vm?sid=$g_site_id&amp;tag=$link.encodeURL($tag)">${tag}</a>&nbsp;
	#end
</p>
<p>
#if($page_count > 1)
	#if($p_page>1)
		<a href="$dlog.root()/wml/list_tags.vm?sid=$g_site_id">首页</a>
		<a href="$dlog.root()/wml/list_tags.vm?sid=$g_site_id&amp;p=$pre_page">上页</a>
	#end
	#if($p_page < $page_count)
		<a href="$dlog.root()/wml/list_tags.vm?sid=$g_site_id&amp;p=$next_page">下页</a>
		<a href="$dlog.root()/wml/list_tags.vm?sid=$g_site_id&amp;p=$page_count">尾页</a>
	#end
	<br/>
#end
</p>