body {	background-color: #c3e603;
	margin-left: 0px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-image: url(pagebj.png); 
	background-repeat:no-repeat; 
	background-position:bottom; 
}
.style1 {
	font-weight: bold;
	color: #FF0000; margin-top:10px; margin-bottom:10px;
}
.style2 {font-size: 12px}
.txtfoot{
background-image:url(txtfoot.gif); background-repeat:repeat-x; background-position:center 
}
.txttop{
background-image:url(txttop_2.gif); background-repeat:repeat-x; background-position:top 
}
.txttop2{color:#FFFFFF; background-image:url(txttop_3.gif); background-repeat:no-repeat; background-position:right;
}
.txttop3{
background-image:url(txtbj.png);}