#set($__this_url = $link.encodeURL($dlog.get_request_url()))	
#if($g_user)
	#set($new_msg_count = $dlog.get_new_msg_count($g_user))
	#set($msg_count = $dlog.get_msg_count($g_user))
    $text.wml("welcome",${text.html($g_user.nickname)})$text.html(${g_site.friendlyName})<br/>
	#if(${g_user.ownSiteId}>0 && ${g_user.ownSiteId}!=$g_site_id)
    <a href="$dlog.root()/wml/">$text.wml("my_site",${app_name})</a>#end
    <a href="$dlog.root()/wml/listmsg.vm?sid=$g_site_id">$text.wml("message")($new_msg_count,$msg_count)</a>
    <a href="$dlog.root()/wml/bookmark.vm?sid=$g_site_id">$text.wml("bookmark")</a>
    <a href="$dlog.root()/wml/friends.vm?sid=$g_site_id">∫√”—</a>
    <a href="$dlog.root()/wml/search.vm?sid=$g_site_id">$text.wml("search")</a>
    <a href="$dlog.root()/wml/myprofile.vm?sid=$g_site_id">$text.wml("profile")</a>
    <a href="$dlog.root()/wml/user.do?sid=$g_site_id&amp;eventSubmit_Logout=${__this_url}">$text.wml("logout")</a>
#else
	<a href="$dlog.root()/wml/login.vm?sid=$g_site_id&amp;fromPage=${__this_url}">$text.wml("login")</a>
	<a href="$dlog.root()/wml/reguser.vm?sid=$g_site_id">$text.wml("register")</a>
	<a href="$dlog.root()/wml/search.vm?sid=$g_site_id">$text.wml("search")</a>
#end