##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  modify your birthday
##
###############################################################################
#invoke("../_sub/_global.vm")
#set($page_title="修改生日")
<p>    
    #wml_error_msg()
	#if(${g_user.birth})
	您现在的生日是: ${g_user.birth}<br/>#end
	#set($uform = $form.getBean())
	请输入您的生日(例如19800608):<input type="text" name="birth" size="15" value="$!{uform.sbirth}" format="*N"/>
	请输入你的密码:<input type="text" name="password" size="15"/>
    <anchor>现在修改
        <go href="$link.setAction("wml/user")" method="post">
            <postfield name="fromPage" value="modify_birth.vm"/>
            <postfield name="sid" value="$g_site_id"/>
            <postfield name="id" value="$g_user_id"/>
            <postfield name="sbirth" value="$(birth)"/>
            <postfield name="password" value="$(password)"/>
            <postfield name="__ClientId" value="$dlog.gen_client_id()"/>
            <postfield name="eventSubmit_UpdateBirth" value="WML"/>
        </go>
    </anchor>
	<a href="$dlog.root()/wml/myprofile.vm?sid=$g_site_id">$text.wml("back_to_prev_page")</a>
</p>