<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cxl.soft" android:versionCode="2" android:versionName="2.0">
	<uses-sdk android:minSdkVersion="4" />

	<application android:icon="@drawable/repository"
		android:label="@string/app_name">
		<activity android:name="com.cxl.MostInSoftActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.waps.OffersWebView"
			android:configChanges="keyboardHidden|orientation" />
		<meta-data android:name="WAPS_ID" android:value="b0df82ae26d0a864a9ef00a5a38a3a57" />
		<!--以下属性为分发渠道ID,可以选用 -->
		<meta-data android:name="WAPS_PID" android:value="aimi" />

	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!--以下权限仅互动广告使用 -->
	<uses-permission android:name="android.permission.GET_TASKS" />
</manifest>