#wBox .b {
  background-image:url(../images/wbox.png);
}

#wBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1008;
  text-align: left;
}

#wBox .popup {
  position: relative;
}

#wBox table {
  border-collapse: collapse;
}

#wBox td {
  border-bottom: 0;
  padding: 0;
}

#wBox .body {
  width: 370px;
}

#wBox .loading,#wBox .image  {
  text-align: center;
}

#wBox img {
  border: 0;
  margin: 0;
}

#wBox .title {
  height:30px;
  color:#000000;
  font-size:15px;
  width:100%;
  background:url(../images/titleBG.png) repeat-x;
}
#wBox .title .itemTitle{
	padding-left:21px;
	overflow:hidden;
}
#wBox .title .close{
    background:url(../images/close.png) no-repeat 0 0;
    height:14px;
    width:14px;
    overflow:hidden;
    cursor:pointer;
}
#wBox .title .on{
    background-position:0 -14px;
}
#wBox .tl, #wBox .tr, #wBox .bl, #wBox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  background-image:url(../images/wbox.png);
  padding: 0;
}
#wBox .body{
	background-color:#ffffff;
}
#wBox .imgBTN{
	height:100%;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:10;
}
#wBox .wBox_loading{	
	text-align:center;	
}
#wBox #imgPrev,#wBox #imgNext{
	width:49%;
	display:block;
	height:99%;
}
#wBox_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.wBox_hide {
  z-index:-100;
}

.wBox_overlayBG {
  background-color: #000;
  z-index: 99;
}

