##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  show replies of photo
##
###############################################################################
#parse("/wml/_sub/_global.vm")
#set($PAGE_SIZE = 5)
#set($PREVIEW_SIZE = 100)
#set($p_page = $dlog.param("p", 1))
#set($pre_page = $p_page - 1)
#set($next_page = $p_page + 1)
#set($album_id = $dlog.param("aid", -1))
#set($photo_id = $dlog.param("pid",-1))
#set($photo = $PHOTO_tool.photo($g_site, $g_user, $photo_id))
<p>
	#invoke("_photo_nav_bar.vm")
#if($photo)
    #set($replies = $PHOTO_tool.replies($g_site, $g_user, $photo, $p_page, $PAGE_SIZE))
    #set($page_title=${photo.name})
    #set($page_count = $dlog.page_count(${photo.replyCount}, $PAGE_SIZE))
	照片:<a href="$dlog.root()/wml/photo/show.vm?sid=$g_site_id&amp;aid=$album_id&amp;pid=${photo.id}">$text.html(${photo.name})</a><br/>
	评论:${photo.replyCount}&nbsp;<a href="$dlog.root()/wml/photo/reply.vm?sid=$g_site_id&amp;pid=$photo_id&amp;r=$math.random(1,1000)">[我要评论]</a><br/>
	第${p_page}页,共${page_count}页,每页${PAGE_SIZE}条.<br/>
#if($page_count > 1)
	#if($p_page>1)
		<a href="$dlog.root()/wml/photo/photo_rpls.vm?sid=$g_site_id&amp;pid=$photo_id">首页</a>
		<a href="$dlog.root()/wml/photo/photo_rpls.vm?sid=$g_site_id&amp;pid=$photo_id&amp;p=$pre_page">上页</a>
	#end
	#if($p_page < $page_count)
		<a href="$dlog.root()/wml/photo/photo_rpls.vm?sid=$g_site_id&amp;pid=$photo_id&amp;p=$next_page">下页</a>
		<a href="$dlog.root()/wml/photo/photo_rpls.vm?sid=$g_site_id&amp;pid=$photo_id&amp;p=$page_count">尾页</a>
	#end
	<br/>
#end
#foreach($rpl in $replies)
	#set($content = $dlog.plain_text(${rpl.content}))
	#set($rc = $dlog.abbreviate($content, $PREVIEW_SIZE))
	#if($dlog.is_empty($rc))#set($rc="[无文本内容]")#end
	${velocityCount}.$text.html(${rpl.author})($date.format("MM-dd HH:mm",${rpl.replyTime})):$text.html(${rc})
	#if($rc.length() < $content.length())
		<a href="$dlog.root()/wml/photo/rpl.vm?sid=$g_site_id&amp;aid=$album_id&amp;pid=$photo_id&amp;rpl_id=${rpl.id}">[详细内容]</a>
	#end
	<br/>
#end
#if($page_count > 1)
	#if($p_page>1)
		<a href="$dlog.root()/wml/photo/photo_rpls.vm?sid=$g_site_id&amp;pid=$photo_id">首页</a>
		<a href="$dlog.root()/wml/photo/photo_rpls.vm?sid=$g_site_id&amp;pid=$photo_id&amp;p=$pre_page">上页</a>
	#end
	#if($p_page < $page_count)
		<a href="$dlog.root()/wml/photo/photo_rpls.vm?sid=$g_site_id&amp;pid=$photo_id&amp;p=$next_page">下页</a>
		<a href="$dlog.root()/wml/photo/photo_rpls.vm?sid=$g_site_id&amp;pid=$photo_id&amp;p=$page_count">尾页</a>
	#end
#end
#else
	编号为#${photo_id}的照片没有找到。
#end
</p>