<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>JeeCms System</display-name>	
	<servlet>
		<servlet-name>Install</servlet-name>
		<servlet-class>com.jeecms.cms.InstallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Install</servlet-name>
		<url-pattern>/install/install_setup.svl</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>install.html</welcome-file>
	</welcome-file-list>
</web-app>