##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  user register
##
###############################################################################
#invoke("_sub/_global.vm")
#set($page_title=$text.wml("title.register"))
#set($close_search_robots = true)
<p>    
    #wml_error_msg()
    $text.wml("register.prompt")<br/>
    $text.wml("username"):<input type="text" name="name" size="15"/>$text.wml("username_tip")<br/>
    $text.wml("password"):<input type="text" name="pwd" size="15"/><br/>
	$text.wml("nickname"):<input type="text" name="nname" size="15"/><br/>
	$text.wml("verify_code"):<input type="text" size="5" maxlength="4" name="vcode"/><img src="$dlog.root()/servlet/verify.img" alt=""/><br/>
    <anchor>$text.wml("button.register")
        <go href="$link.setAction("wml/user")" method="post">
            <postfield name="sid" value="$g_site_id"/>
            <postfield name="name" value="$(name)"/>
            <postfield name="nickname" value="$(nname)"/>
            <postfield name="verifyCode" value="$(vcode)"/>
            <postfield name="password" value="$(pwd)"/>
            <postfield name="keepDays" value="365"/>
            <postfield name="__ClientId" value="$dlog.gen_client_id()"/>
            <postfield name="eventSubmit_CreateUser" value="WML"/>
        </go>
    </anchor>
	<a href="login.vm?sid=$g_site_id">$text.wml("login")</a>
</p>