@charset "utf-8";

body{background:url(../img/member/head_bg.jpg) no-repeat 50% 28px;margin:0;font:12px Verdana, Arial, Helvetica, sans-serif,""; color:#42515A;}
.container{min-width:980px;margin:0 auto;background:url(../img/member/nav_bg.png) no-repeat 50% 120px;}
 
.toolbar{margin-bottom:5px;background:#fafafa url(../img/member/toolbar.gif) repeat-x 0 100%;}
.toolbar-inner{width:980px;height:31px; line-height:31px; margin:0 auto;}
.toolbar a{padding:0 5px;}

.header{width:980px; height:80px; margin:0 auto;}
.header .brand{float:left;padding-left:20px;}
.header .brand h1 a{display:block;width:292px; height:70px;overflow:hidden;text-indent:-9999px;margin-right:10px;background:url(../img/logo.gif) no-repeat;}

.main{width:980px;margin:0 auto;}

.input{width:200px; height:20px; line-height:20px; border:1px solid #ccc;}

.footer{width:980px;margin:0 auto;padding:20px 0;line-height:1.8em;text-align:center;color:#999;background:url(../img/member/foot_bg.png) no-repeat 50% 0;}
.footer a:link,.footer a:visited{color:#999;}

/*global*/
a:link, a:visited{color:#333;text-decoration:none;}
a:hover, a:active{color:#ff3300;text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
.box:after{content:"\0020";display:block;height:0;clear:both;}
img{border:none; float:none;}


.mrow{width:980px;height:auto;overflow:hidden;}
.my_local{width:980px; height:30px; line-height:30px;overflow:hidden;margin:0 auto;clear:both;}
.adv_cs_r{width:7px;height:289px;background:url(../img/member/line_r.jpg) left top no-repeat;float:left;margin-left:6px;display:inline;}
.location_cs{width:963px;float:left;line-height:30px;text-indent:1em;}

/*member_center_center*/

.mc_left{width:212px;float:left;height:400px;}
.mc_left_top{background:url(../img/member/web_left_top.jpg);height:44px}
.mc_left_top div{line-height:44px;margin-left:48px;font-weight:bold;font-size:14px;color:#3d3d3d}
.mc_left_bj{background-image:url(../img/member/web_left_bj.jpg);height:259px;}
.mc_left_bj a{display:block;width:206px;line-height:26px;background:url(../img/member/aa_bj.jpg);margin-left:5px;}
.mc_left_bj a span{margin-left:50px}
.mc_left_bj a:hover{background:url(../img/member/aa_hover.jpg);color:#cd0401}
.nan_mu{background:url(../img/member/da_lei.jpg);height:35px}
.nan_mu div{padding-top:8px;margin-left:48px;font-weight:bold;font-size:14px;color:#3d3d3d}
.nan_mu_bottom{height:auto;background-image:url(../img/member/web_left_bj.jpg)}
.nan_mu_bottom a{display:block;width:206px;line-height:26px;background:url(../img/member/aa_bj.jpg);margin-left:5px;}
.nan_mu_bottom a span{margin-left:50px}
.nan_mu_bottom a:hover{background:url(../img/member/aa_hover.jpg);color:#cd0401}

/*member_center_center*/
.mc_center{width:7px;float:left;}
.mc_center_bj{background:url(../img/member/web_center_bj.jpg);height:auto;}
/*member_center_center_end*/

.mc_right{width:760px;float:left;height:auto;}
.mc_top_bj{background:url(../img/member/web_top_bj1.jpg) left 7px no-repeat;height:85px;}
.mc_top_bj .page_tit{float:left;width:130px;height:35px;line-height:35px;overflow:hidden;font-size:14px;font-weight:bold;padding-left:70px;margin-top:40px;margin-left:5px;}
.mc_top_bj .user_info_cs{float:left;width:500px;padding-right:15px;text-align:right;line-height:35px;height:35px;margin-top:40px;}
.mc_top_bj .user_info_cs a:hover{color:#cf2027;}
.mc_content{height:auto;}

.mc_top_left{float:left;width:383px;margin-top:22px;}
.mc_top_right{float:left;width:360px}
.mc_right_h{height:63px;border-right:#c6cfda solid 1px;}


/*member_center_right_end*/

.tblist{margin:10px auto; width:98%; text-align:center;}
.tblist th{height:29px; line-height:29px; color:#3c3c3c; background:url(../img/member/th_bg.jpg) repeat-x;}
.tblist td{height:25px; line-height:25px;}
.bg_over td{border-bottom:1px solid  #EAEAEA;}
.bg_out{border-bottom:1px solid #EAEAEA;}
.bg_out td{border-bottom:1px solid #EAEAEA;}
