<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="8" android:versionName="1.0.7" package="com.hsj.ccae1"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name=".Detail" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity" />
        <activity android:name=".MoreActivity" />
        <activity android:name=".FavoriteList" />
        <activity android:name="com.waps.OffersWebView" android:configChanges="keyboardHidden|orientation" />
        <meta-data android:name="WAPS_ID" android:value="d2186890b12051108646200556cf99d1" />
        <meta-data android:name="WAPS_PID" android:value="appchina" />
        <activity android:label="@string/app_name" android:name="com.adwo.adsdk.AdwoAdBrowserActivity" />
        <meta-data android:name="Adwo_PID" android:value="822c7e74dba442099c76fe103ed97619" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="7" />
</manifest>