#invoke("_photo_nav_bar.vm")
#if($g_user)
	<a href="$dlog.root()/wml/photo/upload.vm?sid=$g_site_id">上传照片</a>
#else
	#set($url = "/wml/photo/upload.vm?sid=$g_site_id")
	<a href="$dlog.root()/wml/login.vm?sid=$g_site_id&amp;fromPage=$link.encodeURL($url)">上传照片</a>
#end
#if($dlog.is_owner($g_site, $g_user))
	<a href="$dlog.root()/wml/photo/album_add.vm?sid=$g_site_id">创建相簿</a>
	#set($album_id = $dlog.param("aid", -1))
	#set($album = ${g_site.album($album_id)})
	#if($album)
		<a href="$dlog.root()/wml/photo/album_edit.vm?sid=$g_site_id&amp;aid=$album_id">修改</a>
		#if(${album.photoCount}<1)<a href="$link.setAction("wml/album")?sid=2&amp;eventSubmit_Delete=$album_id">删除</a>
		#else
		<a href="$dlog.root()/wml/photo/album_move.vm?sid=$g_site_id&amp;aid=$album_id">迁移照片</a>
		#end
	#end
#end
<br/>----------<br/>
