#set($objs = $SEARCH_tool.search_topic($g_site, $g_user, $key))
共有${objs.size()}项符合"${key}"的查询结果，(搜索用时${SEARCH_tool.get_search_time()}毫秒)<br/>
#foreach($obj in $objs)
	${velocityCount}.<a href="$dlog.root()/wml/bbs/topic.vm?sid=${obj.site.id}&amp;fid=${obj.forum.id}&amp;tid=${obj.id}">$text.html(${obj.title})</a>($date.format("yyyy/MM/dd HH:mm",${obj.createTime}))<br/>
#end