<div id="mplayer_div" align="center">
#invoke("_media_player.vm")
</div>
<script language="javascript" type="text/javascript">
if (!window.netscape) $("mplayer_div").style.display = "none";
var play_list = false;
function play(url){
    play_list = false;
	var mplayer;
	if (window.netscape){
    	mplayer = $('emplayer');
		state = mplayer.GetPlayState();
        if(state==2 && mplayer.GetFileName() == url) ##已经在播放指定歌曲
            return false;
		if(state==2)
		    mplayer.Stop();
        mplayer.SetFileName(url);
	}
	else{
   		mplayer = $('omplayer');	
        state = mplayer.PlayState;
        if(state==2 && mplayer.fileName == url) ##已经在播放指定歌曲
            return false;
		if(state==2)
		    mplayer.Stop();
        mplayer.fileName = url;	
	}
    mplayer.Play();
    return false;
}
function play_selected(mid){
    var ids = "";
    var selected = false;
    var s = document.getElementsByTagName('input');
    for (var i=0,c;c=s[i];i++){
        if (c.name==mid && c.checked == true){
            ids += c.value;
            ids += ",";
            selected = true;
        }
    }
    if(selected){
		var mplayer;
        var url = "$link.getContextURL()/mlist.vm?mid="+ids;
        play_list = true;
    	if (window.netscape){
    		mplayer = $('emplayer');
			mplayer.Stop();
        	mplayer.SetFileName(url);
    	}
    	else{
        	var mplayer = $('omplayer');
            mplayer.Stop();
            mplayer.fileName = url;
    	}
    	mplayer.Play();
    }
    return false;
}
</script>
<script for="MediaPlayer" event="PlayStateChange(lOldState, lNewState)" language="javascript">
if(lNewState==0)
    $("mplayer_div").style.display = "none";
else
    $("mplayer_div").style.display = "block";
</script>