<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>send</servlet-name>
		<servlet-class>com.terry.botmail.servlet.SendMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>send</servlet-name>
		<url-pattern>/cron/send</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>check</servlet-name>
		<servlet-class>com.terry.botmail.servlet.CheckScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check</servlet-name>
		<url-pattern>/cron/check</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>botmail</servlet-name>
		<servlet-class>com.terry.botmail.servlet.BotmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>botmail</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
