<object id="omplayer" width="460" height="50" classid="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" 
codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,5,715" 
align="baseline" border="0" standby="Loading Microsoft Windows Media Player components..." 
type="application/x-oleobject" name="MediaPlayer">
    <param name="invokeURLs" value="0">
    <param name="FileName" value="">
    <param name="ShowControls" value="1">
    <param name="ShowPositionControls" value="1">
    <param name="ShowAudioControls" value="1">
    <param name="ShowTracker" value="0">
    <param name="ShowDisplay" value="0">
    <param name="ShowStatusBar" value="1">
    <param name="AutoSize" value="0">
    <param name="ShowGotoBar" value="0">
    <param name="ShowCaptioning" value="0">
    <param name="AutoStart" value="1">
    <param name="PlayCount" value="1">
    <param name="AnimationAtStart" value="0">
    <param name="TransparentAtStart" value="0">
    <param name="AllowScan" value="0">
    <param name="EnableContextMenu" value="1">
    <param name="ClickToPlay" value="1">
    <param name="DefaultFrame" value="datawindow">

    <embed id="emplayer" src="" align="baseline" border="0" width="460" height="50"
        type="application/x-mplayer2"
        pluginspage="http://www.microsoft.com/isapi/redir.dll?prd=windows&amp;sbp=mediaplayer&amp;ar=media&amp;sba=plugin&amp;"
        name="MediaPlayer" showcontrols="1" showpositioncontrols="1"
        showaudiocontrols="1" showtracker="0" showdisplay="0"
        showstatusbar="1"
        autosize="0"
        showgotobar="0" showcaptioning="0" autostart="1" autorewind="0"
        animationatstart="0" transparentatstart="0" allowscan="1"
        enablecontextmenu="1" clicktoplay="1" 
        defaultframe="datawindow" invokeurls="0">
    </embed>
</object><br />
如果您无法播放歌曲,请先确定是否已经安装<a href="http://download.microsoft.com/download/9/4/0/94072943-9188-4a60-b31f-3031f18404e4/mpsetup.exe" target="_blank"><b>Windows media player</b></a>软件<br/>
或者歌曲类型是否被<b>Microsoft Media Player</b>所支持。<br/>
或者是歌曲链接是否有效。