#invoke("_sub/_global.vm")
#set($page_title="´ğ¸´ÁôÑÔ")
#set($msg_id = $dlog.param("msgid",-1))
#set($p_page = $dlog.param("page",-1))
<p>
	ÇëÊäÈë´ğ¸´ÄÚÈİ:
	<input type="text" name="reply" value=""/><br/>	
    <anchor>È·¶¨
        <go href="$link.setAction("wml/guestbook")" method="post">
            <postfield name="sid" value="$g_site_id"/>
            <postfield name="id" value="$msg_id"/>
            <postfield name="page" value="$p_page"/>
            <postfield name="reply" value="$(reply)"/>
            <postfield name="__ClientId" value="$dlog.gen_client_id()"/>
            <postfield name="eventSubmit_Reply" value="WML"/>
        </go>
    </anchor>
</p>