##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  music channel
##
###############################################################################
#parse("/wml/_sub/_global.vm")
#set($music_id=$dlog.param("mid",-1))
#set($music = $MUSIC_tool.music($music_id))
#if($music)
#set($page_title=${music.title})
<p>
	<b>∏Ë«˙:</b>$text.html($!{music.title})<br/>
	#if($music && ${music.url})
	<a href="${music.url}">[≥¢ ‘œ¬‘ÿ]</a><br/>
	#end
	<b>∏Ë ÷:</b>$text.html($!{music.singer})<br/>
	<b>◊®º≠:</b>$text.html($!{music.album})<br/>
	<b>∏Ë¥ :</b><br/>$dlog.plain_text($!{music.word})<br/>

	#if($music && ${music.word} && ${music.url})
	<a href="${music.url}">[≥¢ ‘œ¬‘ÿ]</a><br/>
	#end
	$MUSIC_tool.visit_music([$music])
</p>
#else
#set($page_title="≥ˆ¥Ì¡À")
<p>∏Ë«˙√ª’“µΩ!</p>
#end