##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  bookmark view
##
###############################################################################
#invoke("_sub/_global.vm")
#set($page_title="我的书签")
<p>
	#invoke("_sub/_nav_bar.vm")&gt;我的书签<br/>
#if($g_user)
	#set($bookmarks = $dlog.bookmarks($g_user))
	#if($bookmarks && $bookmarks.size()>0)
        您共有${bookmarks.size()}个书签！<br/>
        #foreach($bm in $bookmarks)
			${velocityCount}.
			<a href="$dlog.gen_bookmark_hyperlink($bm,"wml")">${bm.title}</a>
			<a href="$link.setAction("wml/bookmark")?sid=${g_site_id}&amp;eventSubmit_Delete=$bm.id">删除</a>
			<br/>
    	#end
	#else
		您还有添加任何书签。
	#end                         
#else
	您尚未登录，点击此处<a href="$dlog.root()/wml/login.vm?sid=$g_site_id&fromPage=$link.encodeURL($dlog.get_request_url())">登录</a>。
#end
</p>