##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  show all friends
##
###############################################################################
#invoke("_sub/_global.vm")
#set($PAGE_SIZE = 10)
#set($p_page = $dlog.param("p", 1))
#set($page_title="我的好友")
#set($pre_page = $p_page - 1)
#set($next_page = $p_page + 1)
#set($friend_count = $USER_tool.friend_count($g_user_id))
#set($page_count = $dlog.page_count($friend_count, $PAGE_SIZE))
<p>
	#invoke("_sub/_nav_bar.vm")&gt;我的好友<br/>
    共有${friend_count}个好友. 第${p_page}页,共${page_count}页,每页${PAGE_SIZE}条.<br/>
#if($page_count > 1)
	#if($p_page>1)
		<a href="friends.vm?sid=${g_site_id}">首页</a>
		<a href="friends.vm?sid=${g_site_id}&amp;p=$pre_page">上页</a>
	#end
	#if($p_page < $page_count)
		<a href="friends.vm?sid=${g_site_id}&amp;p=$next_page">下页</a>
		<a href="friends.vm?sid=${g_site_id}&amp;p=$page_count">尾页</a>
	#end
#end
</p>
<p>
	#set($friends = $USER_tool.friends($g_user_id, $p_page, $PAGE_SIZE))
	#set($base_idx = ($p_page - 1)*$PAGE_SIZE)
#foreach($user in $friends)
	#set($idx = $base_idx + $velocityCount)
	${idx}.<a href="viewuser.vm?sid=${g_site_id}&amp;uid=${user.friend.id}">$text.html(${user.friend.nickname})</a>(#if(${user.friend.onlineStatus}==1)在线#else离线#end,<a href="sendmsg.vm?sid=${g_site_id}&amp;uid=${user.friend.id}&amp;r=$math.random(1,1000)">发消息</a>,<a href="$link.setAction("wml/user")?sid=$g_site_id&amp;uid=${user.friend.id}&amp;eventSubmit_DelFriend=WML&amp;__ClientId=$dlog.gen_client_id()">删除</a>)<br/>
#end
</p>
<p>
#if($page_count > 1)
	#if($p_page>1)
		<a href="friends.vm?sid=${g_site_id}">首页</a>
		<a href="friends.vm?sid=${g_site_id}&amp;p=$pre_page">上页</a>
	#end
	#if($p_page < $page_count)
		<a href="friends.vm?sid=${g_site_id}&amp;p=$next_page">下页</a>
		<a href="friends.vm?sid=${g_site_id}&amp;p=$page_count">尾页</a>
	#end
#end
</p>