#invoke("_sub/_global.vm")
#set($page_title="我要留言")
<p>
	请输入给站长的留言内容:
	<input type="text" name="content" value=""/><br/>	
    <anchor>确定
        <go href="$link.setAction("wml/guestbook")" method="post">
            <postfield name="sid" value="$g_site_id"/>
            <postfield name="content" value="$(content)"/>
            <postfield name="__ClientId" value="$dlog.gen_client_id()"/>
            <postfield name="eventSubmit_Create" value="WML"/>
        </go>
    </anchor>
</p>