.flexigrid div.fbutton .add {
	background: url(../images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
	background: url(../images/close.png) no-repeat center left;
}

.flexigrid div.fbutton .modify {
	background: url(../images/modify.png) no-repeat center left;
}